body {
	padding-top: 50px;
    text-align: center;
}
a{
    text-decoration: none;
}
/* 导航栏时钟 */
.navbar div.pull-right {
    height: 50px;
    line-height: 50px;
}

/* 轮播图 */
.banner * {
    margin:0;
    padding:0;
}
.banner {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.banner .wrap {
    position: relative;
    width: 100%;
    height: 500px;
}
.banner .wrap .picture {
    position: absolute;
    height: 500px;
    background-color: #000;
}
.banner .wrap img {
    float: left;
    width: 20%;
}
.banner .wrap .left {
    width: 15%;
    height: 500px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(to right,rgba(0,0,0,.3) 0,rgba(0,0,0,.0001) 100%);
}
.banner .wrap .right {
    width: 15%;
    height: 500px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: linear-gradient(to left,rgba(0,0,0,.3) 0,rgba(0,0,0,.0001) 100%);
}
.banner .wrap .iconfont {
    width: 30px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -15px;
    color:#fff;
    opacity: 0;
    font-size: 30px;
}
.banner .buttons {
    position: absolute;
    left: 50%;
    margin-left: -80px;
    bottom: 30px;
    width: 170px;
    height: 18px;
    text-align: center;
}
.banner .buttons span {
    margin-left: 5px;
    display: inline-block;
    width: 25px;
    height: 5px;
    background-color: #565656;
    opacity: .4;
    cursor: pointer;
}
.banner .buttons span.on{
    background-color: #fff;
}

